* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

#AppContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.center {
    text-align: center;
}

#returnToFolders {
    margin-top: .5em;
}

#foldersBox {
    background-color: whitesmoke;
    width: fit-content;
    border-style: solid;
    border-width: .2em;
    border-color: black;
    padding: 2em;
    border-radius: .5em;
}

#foldersBox ul {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#folders {
    padding: 1em;
}

#folders li {
    list-style: disc;
}

#insideFoldersBox {
    background-color: whitesmoke;
    width: fit-content;
    border-style: solid;
    border-width: .2em;
    border-color: black;
    padding: 2em;
    border-radius: .5em;
}

#insideFoldersBox ul {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#insideFolder {
    padding: 1em;
}

#insideFolder li {
    list-style: none;
}

#loginBox{
    background-color: whitesmoke;
    width: fit-content;
    border-style: solid;
    border-width: .2em;
    border-color: black;
    padding: 2em;
    border-radius: .5em;
}

#loginBox ul {
    padding-top: .5em;
}

.grey {
    color: grey;
}

.complete{
    width: 100%;
}

#editTaskBox {
    background-color: whitesmoke;
    width: fit-content;
    border-style: solid;
    border-width: .2em;
    border-color: black;
    padding: 2em;
    border-radius: .5em;
}

#taskName {
    padding: 1em;
    text-align: center;
}

#taskName li {
    list-style: none;
}

.folders1{
    display: flex;
    align-items: left;
    flex-direction: row !important;
}

.folders1 li{
    list-style: none !important;
    padding: .2em;
}

.folders1 button{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    color: lightseagreen;
    padding-left: .3em;
    padding-right: .3em;
}

.folders2{
    padding-top: 1em;
    display: flex;
    align-items: left;
    flex-direction: row !important;
}

.folders2 li{
    list-style: none !important;
    padding: .2em;
}

input {
    border-style: solid;
    border-radius: .2em;
}

button {
    border-style: solid;
    border-radius: .2em;
    padding-left: .8em;
    padding-right: .8em;
    cursor: pointer;
}